.about__body {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(https://mota.ru/upload/resize/1920/1080/upload/wallpapers/source/2013/03/12/17/05/35163/qZaCSMYDmR-3c3.jpg) ;
  background-size: cover contain;
  height: 748px; 
}

.about__container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
  text-align: center;
  color: aliceblue;
  background-color: #303030e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about__title {
  font-size: 40px;
  margin-bottom: 20px;
}

.about__text p{
  line-height: 26px;
  letter-spacing: 3px;
}

.about__button {
  font-weight: 700;
  font-size: 20px;
  padding: 16px;
  border-radius: 5px;
}

.about__button a {
  padding: 10px;
}

.about__footer {
  margin-top: 20px;
}

.about__toHome {
  color: #303030;
}